include LICENSE
include README
include MANIFEST.in
include setup.py
include scripts/gerrymander-patchreviewstats
include scripts/gerrymander-watch
include scripts/gerrymander-changes
include gerrymander/*.py
include autobuild.sh
include gerrymander.spec
include gerrymander.spec.in
global-exclude *.pyc
