include LICENSE
include README
include MANIFEST.in
include setup.py
include scripts/gerrymander-patchreviewstats
include scripts/gerrymander-watch
include scripts/gerrymander-changes
include scripts/gerrymander-todo-anyones
include scripts/gerrymander-todo-mine
include scripts/gerrymander-todo-noones
include scripts/gerrymander-todo-others
include gerrymander/*.py
include tests/*.py
include autobuild.sh
include gerrymander.spec
include gerrymander.spec.in
include conf/gerrymander.conf-example
global-exclude *.pyc
