include ChangeLog
include AUTHORS
include LICENSE
include README
include autobuild.sh
include MANIFEST.in
include setup.py
include scripts/gerrymander
include gerrymander/*.py
include tests/*.py
include autobuild.sh
include gerrymander.spec
include gerrymander.spec.in
include conf/gerrymander.conf-example
global-exclude *.pyc
